<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Ndubuisi Jr Chukuigwe">
    <title>FluentMessenger Admin</title>
</head>
<body>
    <div id="root"></div>
    <noscript>
        Please Enable Javascript on your browser to view this site
    </noscript>
    <script src="~/dist/bundle.js"></script>
</body>
</html>
